
<!-- Result Row -->
<!-- <div class="row align-items-center px-4 py-3">
                    <div class="col-4">
                        <div class="row">
                            <span class="title">1. ARC Pavilion</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="ml-auto m-3">
                            <b>Annual Cost: </b> 151156.0 <br>
                            <b>Construction Date: </b> 04/15/2002 <br>
                            <b>Primary Usage: </b> REC - Athletics & Recreation <br>
                            <b>Energy Consumed Today: </b> 200 kWh
                        </span>
                    </div>
                    <div class="col-1 text-right">
                        <span>Stats</span>
                    </div>
                    <div class="col-1">
                        <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 -1 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"/><polyline points="12 5 19 12 12 19"/></svg></span class="navbar-brand">
                    </div>
                </div> -->